<!DOCTYPE html>
<html>
  <head>
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='../public/stylesheets/main.css'>
  </head>

  <title>ARCHILLENSION</title>

  <body>
    <a id='linkimage2'><div id='image2' class='col-xs-4' class='col-s-4' class='col-m-4'></div></a>
    <a id='linkimage1'><div id='image1' class='col-xs-4' class='col-s-4' class='col-m-4'></div></a>
    <a id='linkimage0'><div id='image0' class='col-xs-4' class='col-s-4' class='col-m-4'></div></a>

    <!-- scripts -->
    <script src='../public/js/jquery.min.js'></script>
    <script src='../public/js/main.js'></script>
  </body>
</html>
