<!DOCTYPE html>
<html>
  <head>
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='../public/stylesheets/popup.css'>
  </head>

  <title>ARCHILLENSION</title>

  <body>
    <p><b>WELCOME TO ARCHILLENSION</b></p>
    <p>ALL MEDIA SOURCED BY <a target="_blank" href="http://archillect.com/">ARCHILLECT</a>, AN OCULAR ENGINE BUILT BY <a target="_blank" href="http://twitter.com/muratpak">MURAT PAK</a></p>
    <p>STAY SAFE OUT THERE</p>
    <p>&lt;3, <a target="_blank" href="http://twitter.com/brkwtz">BRKWTZ</a></p>

    <!-- scripts -->
    <script src='../public/js/jquery.min.js'></script>
    <script src='../public/js/main.js'></script>
  </body>
</html>
